body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font {
    font-family: Geneva, Tahoma, sans-serif;
    color: #D7F6FE;
    text-shadow: -1px -1px 0 #ABD9E3, 1px -1px 0 #ABD9E3, -1px 1px 0 #ABD9E3, 1px 1px 0 #ABD9E3;
}

#f1 {
    font-size: xx-large;
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#f2 {
    font-size: x-large;
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#f3 {
    font-size: medium;
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#bground {
    background-color: #74E9F3;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    position: relative;
    width: 100%;
    margin-top: 2%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 2%;
}

#flyb {
    animation-name: flyingb;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flyingb {
    from {
        top: -20px;
    }

    to {
        top: 20px;
    }
}